@font-face {
  font-family: "ibmBold";
  src: url("../font/IBMPlexSansKR-Bold.ttf");
}
@font-face {
  font-family: "ibmXlite";
  src: url("../font/IBMPlexSansKR-ExtraLight.ttf");
}
@font-face {
  font-family: "ibmLite";
  src: url("../font/IBMPlexSansKR-Light.ttf");
}
@font-face {
  font-family: "ibmMed";
  src: url("../font/IBMPlexSansKR-Medium.ttf");
}
@font-face {
  font-family: "ibmReg";
  src: url("../font/IBMPlexSansKR-Regular.ttf");
}
@font-face {
  font-family: "ibmSemiB";
  src: url("../font/IBMPlexSansKR-SemiBold.ttf");
}
@font-face {
  font-family: "ibmThin";
  src: url("../font/IBMPlexSansKR-Thin.ttf");
}

* {
  font-family: ibmReg;
}
