@font-face {
  font-family: "scBI";
  src: url("../font/SCDream9.otf");
}
@font-face {
  font-family: "scHvy";
  src: url("../font/SCDream8.otf");
}
@font-face {
  font-family: "scEB";
  src: url("../font/SCDream7.otf");
}
@font-face {
  font-family: "scB";
  src: url("../font/SCDream6.otf");
}
@font-face {
  font-family: "scMed";
  src: url("../font/SCDream5.otf");
}
@font-face {
  font-family: "scReg";
  src: url("../font/SCDream4.otf");
}
@font-face {
  font-family: "scLt";
  src: url("../font/SCDream3.otf");
}
@font-face {
  font-family: "scEL";
  src: url("../font/SCDream2.otf");
}
@font-face {
  font-family: "scThin";
  src: url("../font/SCDream1.otf");
}

* {
  font-family: scReg;
}
