.wrap {
  justify-content: center;
  position: relative;
}

.hide {
  height: 0;
}

/* fade in */
@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.for-hover {
  font-family: scLt;
  font-size: 1.1rem;
  font-weight: 600;
}

.slide-fade-in-dropdown {
  overflow: hidden;
  width: inherit;
  /* position: absolute; */
  /* top: 0; */
}

.slide-fade-in-dropdown > ul  {
  animation: slide-fade-in-dropdown-animation 0.4s ease;
  cursor: pointer;
}

/* fade out */

@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.slide-fade-out-dropdown {
  overflow: hidden;
  width: inherit;
}

.slide-fade-out-dropdown > ul {
  animation: slide-fade-out-dropdown-animation 0.4s ease;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.mainNavAuto {
  display: flex;
  justify-content: center;
}

.mainNavTxt {
  color: #fff;
  width: 160px;
  height: 48px;
  text-align: center;
  z-index: 999;
  white-space: pre-wrap;
}

.for-hover {
  height: 42px;
  line-height: 42px;
  color: #fff;
  padding-top:10px 0 5px 0;
  
}

.mainNavTxt:hover .for-hover {
  width: inherit;
  height: 42px;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: #0052C7;
  transition: all 0.2s linear;
}


.list-head {
  font-size: 1rem;
  font-weight: 700;
}

.components-dropdown > ul {
  margin: 0;
  padding: 0;
  transition: all 0.2s linear;
}

.components-dropdown > ul > li {
  height: 32px;
  font-size: 0.9rem;
  line-height: 35px;
  color: #fff;
  list-style: none;
  background-color: #3180f1;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
}


.components-dropdown > ul > li:hover {
  background: #2872DD;
  font-weight: 600;
}

.back {
  background-image: url('../image/IntroWall.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.intro {
  background-image: url('../image/IntroWall.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.portfolio {
  background-image: url('../image/PortWall.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.request {
  background-image: url('../image/ReqWall.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.hire-staff {
  background-image: url('../image/hire.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.defaultback{
  position: absolute;
}
